
/*main {
    padding-left: 2em;
    padding-right: 2em;*/
    /*box-shdow ca sa apara degrade-ul acela usor pe margini
  observati ca umbra e inset, ca sa se vada in interiorul elementului
   */
    /*box-shadow: inset grey 0px 0px 10px;
    padding-top: 2em;
    background: white;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        
}*/

html {
    font-size: 18px;
    
}
body {
    /*#A1F8BA*/
    --culoare-bkg: #568556;
    --culoare-alb: white;
    --culoare-sectiune: white;
    --culoare-border: #A1F8BA;
    --culoare-bkg-buton: #DBFAE2;
    --spatiere-pagina: 80px;
    font-size: 15px;
    background-color: var(--culoare-bkg);
}

h2{
    font-size:1.4rem;
}

#grid-pagina {
    display: grid;
    border: none;
    row-gap: 20px;
    column-gap:20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "gr-prezentare gr-prezentare gr-prezentare"
                         "gr-tabel gr-tabel gr-diversea"
                         "gr-utilizatori gr-statistici gr-diversea"
                         "gr-anunturi gr-calendar gr-server"
}
main{
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
}

#grid-pagina > * {
    outline: 3px solid var(--culoare-border);
    border-radius: 10px;
    box-shadow: black 0px 0px 20px;
    padding: 20px;
    background-color: var(--culoare-sectiune);
}
#grid-pagina > figure{

}

#grid-pagina img{
    width: 80%;
    max-width:300px;
}
#prezentare {
    grid-area: gr-prezentare;
    text-align: center;
    padding-top: 200px;
    align-items: center;
}

    #prezentare h1 {
        font-family: "Alumni Sans Pinstripe", sans-serif;
        font-weight: 400;
        font-style: italic;
        color: black;
        font-size:70px;
        color:black;
    }

    #prezentare a {
        display: block;
        color: black;
        text-decoration: none;
        width: 100px;
        height: 40px;
        text-align: center;
        border: 3px solid var(--culoare-border);
        border-radius: 5px;
        background-color: white;
        box-shadow: green 0px 0px 5px;
        align-items: center;
        cursor: pointer;
        margin: 0 auto; /* 🔥 acest lucru îl centrează pe orizontală */
        line-height: 40px; /* ca să centrezi textul pe verticală */
        transition: 0.3s;
    }
        #prezentare a:hover {
            background-color: var(--culoare-bkg-buton);
        }

#tabel{
    grid-area: gr-tabel;
}



#calendar{
    grid-area: gr-calendar;
}

#anunturi{
    grid-area: gr-anunturi;
}

#utilizatori{
    grid-area: gr-utilizatori;
}

#statistici{
    grid-area: gr-statistici;
}

#server{
    grid-area: gr-server;
}

#diversea{
    grid-area: gr-diversea;
}



.taburi-iframe > a {
    display: block;
    color:black;
    text-decoration: none;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 3px solid var(--culoare-border);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    box-shadow: green 0px 0px 4px;
    transition: all 0.3s linear;
}

    .taburi-iframe > a:hover {
        background-color: var(--culoare-bkg-buton);
    }

    .taburi-iframe {
        display: flex;
        justify-content: center;
    }

.container-iframe{
    width:60%;
    max-width:500px;
    min-width:200px;
}

.container-iframe>iframe{
    width:100%;
}

#diversea > section {
    border: 2px solid var(--culoare-border);
    border-radius: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow:  black 0px 0px 10px;
}
#diversea>section *{
    margin-left: 10px;

}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    text-decoration: none;
    color: var(--culoare-border);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition:  0.3s ease;
    background: transparent;
    border: none;
}

    #scrollTopBtn .arrow {
        margin: 0 5px;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    /* Only the arrow moves and changes color on hover */
    #scrollTopBtn:hover .arrow {
        transform: translateY(-5px);
        color: var(--culoare-sectiune);
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 5px inset #555;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: var(--culoare-bkg-buton);
}

tfoot {
    background-color: var(--culoare-bkg);
    color: white;
}

tbody tr:nth-child(odd) td {
    border-bottom: 1px solid var(--culoare-bkg);
}

tbody tr:nth-child(even) td {
    border-bottom: 1px solid var(--culoare-border);
}

tbody tr:hover {
    outline: 5px solid rgba(0, 0, 0, 0.7);
    transition: outline 0.5s ease;
}


caption {
    caption-side: bottom;
    font-style: italic;
    padding: 10px;
}
@media screen and (max-width: 800px) {
    .tabel-container {
        overflow-x: auto;
    }
}
        @media screen and (max-width:1200px) {

            html {
                font-size: 16px;
            }

            body {
                --spatiere-pagina: 50px;
            }
            /*TODO: regandire grid ecran mediu*/
            #grid-pagina {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas: "gr-prezentare gr-prezentare gr-prezentare"
                    "gr-tabel gr-tabel gr-diversea"
                    "gr-utilizatori gr-statistici gr-diversea"
                    "gr-anunturi gr-calendar gr-server"
            }
        }

        @media screen and (max-width:800px) {

            html {
                font-size: 14px;
            }

            body {
                --spatiere-pagina: 30px;
            }

            #grid-pagina {
                display: block;
            }
        }
